/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */
 html{
    height:100%;
 }
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    animation-name :bg2;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 8s;
}
.container{
    height:50px;
    width:50px;
    background-color: yellow;
    border:1px solid;
    margin-top:5px;
    overflow:hidden;
    border-radius: 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 5s;
    /* border-radius: 10px; */
}
/* .container:hover{
    background-color: blue;
    border-radius: 20px;
    transition: 5s ease;
} */
.container>img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 5s;
    
}
.container-2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top:5px;
    overflow: hidden;
}
.container:hover>img{
    transform: translateY(400px);
}
.container>p{
    position: absolute;
    transform: translateX(-400px);
}
.container:hover>p{
    transform: translateX(0px);
    font-size: 1rem;
}
.container-2>img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:2px;
    transition: 2s ease;
}
.container-2:hover>img{
    /* transform: scale(2); */
    /* transform: rotate(-50deg); */
    /* transform: rotateX(-90deg); */
    /* transform: skew(30deg); */
    transform: rotate(180deg) scale(1.5) translate(200px);    #short form 
}
@keyframes bgcolor{
    from{
        background-color:red;
    }to{
        background-color:blue;
    }
}
@keyframes move{
    from{
        transform: translateY(-500px) rotate(360deg);
    }to{
        transform: translateY(500px)
    }
}
@keyframes bg2{
    0%{
        background-color:red;
    }25%{
        background-color:aqua;
    }50%{
        background-color:purple;
    }75%{
        background-color:orange;
    }100%{
        background-color:.skyblue;
        opacity: 0;
    }
}