/* .container{
    border: 2px solid;
}
.item{
    font-size: xx-large;
    padding: 10px;
}
.item-1{
    background-color: blue;
}
.item-2{
    background-color: yellow;
}
.item-3{
    background-color: red ;
}
.item-4{
    background-color: green;
}
.item-5{
    background-color: orange;
} */
.task{
    background-color: lightgrey;
    border: 5px solid;
    display:flex;
    justify-content: space-around;
    border-radius: 10px;
}
.bi{
    font-size: xx-large;
    color: black;
    padding: 5px;
}
